.splide:hover,
.splide:focus,
.splide:focus-within {
  pointer-events: none !important;
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
  padding: 0 256px; /* left-right padding sesuai permintaan */
}

.slider-wrapper::before,
.slider-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  width: 80px; /* panjang fade */
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.slider-wrapper::before {
  left: 256px; /* tambahkan px */
  background: linear-gradient(to right, #EFF4FF, transparent);
}

.slider-wrapper::after {
  right: 256px; /* tambahkan px */
  background: linear-gradient(to left, #EFF4FF, transparent);
}


